# Build directories
build/
out/
bin/

# IDE specific files
.vscode/
.idea/
*.user
CMakeUserPresets.json

# Compiled files
*.obj
*.exe
*.dll
*.pdb
*.ilk

# Qt specific
*.qmlc
*.jsc
moc_*.cpp
moc_*.h
qrc_*.cpp 